POSTGRES_DB=auth_database
POSTGRES_USER=app
POSTGRES_PASSWORD=my_secret_pass
PGDATA=/var/lib/postgresql/data/auth_database
DB_HOST=auth_database
DB_PORT=5432

LOG_LEVEL=INFO

REDIS_URL=redis://auth_redis:6379
REDIS_CACHE_TTL=300