POSTGRES_DB=auth_database
POSTGRES_USER=app
POSTGRES_PASSWORD=my_secret_pass
PGDATA=/var/lib/postgresql/data/auth_database
DB_HOST=auth_database
DB_PORT=5432

LOG_LEVEL=INFO

REDIS_BASE_URL=redis://auth_redis:6379
REDIS_CACHE_TTL=300

ACCESS_TOKEN_EXPIRE_MINUTES=5
REFRESH_TOKEN_EXPIRE_DAYS=30

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=123123