ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token


# Общий секрет для выпуска и верификации JWT токенов
# generate with: python -c "import secrets; print(secrets.token_urlsafe(64))"
SECRET_KEY=
