POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=my_secret_pass
PGDATA=/var/lib/postgresql/data/movies_database
DB_HOST=movies_database
DB_PORT=5432

ALLOWED_HOSTS=*

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=123123

DEBUG=True
SECRET_KEY=super_secret_pass

LOG_LEVEL=INFO
ELASTIC_BASE_URL=http://movies_elastic:9200
ELASTIC_MOVIES_INDEX_NAME=movies
ELASTIC_GENRES_INDEX_NAME=genres
ELASTIC_PERSONS_INDEX_NAME=persons
BATCH_SIZE=2000

REDIS_URL=redis://movies_redis:6379
REDIS_CACHE_TTL=300