# Postgres
POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=my_secret_pass
PGDATA=/var/lib/postgresql/data/movies_database
DB_HOST=movies_database
DB_PORT=5432

# Django
ALLOWED_HOSTS=*

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=123123

DEBUG=True
SECRET_KEY=super_secret_key

# ETL Postgres to Elasticsearch
LOG_LEVEL=INFO
ELASTIC_BASE_URL=http://movies_elastic:9200
ELASTIC_INDEX_NAME=movies
ETL_STATE_FILE=etl_state.json
BATCH_SIZE=100