ELASTIC_BASE_URL=http://movies_elastic:9200
ELASTIC_MOVIES_INDEX_NAME=movies
ELASTIC_GENRES_INDEX_NAME=genres
ELASTIC_PERSONS_INDEX_NAME=persons

LOG_LEVEL=INFO

REDIS_URL=redis://movies_redis:6379
REDIS_CACHE_TTL=300