POSTGRES_DB=movies_database
POSTGRES_USER=app
# set strong password
POSTGRES_PASSWORD=
PGDATA=/var/lib/postgresql/data/movies_database
DB_HOST=movies_database
DB_PORT=5432

ALLOWED_HOSTS=*

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=123123

DEBUG=True

AUTH_API_LOGIN_URL=http://nginx:80/api/auth/v1/login
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

INTERNAL_IPS=localhost,127.0.0.1