POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=my_secret_pass
PGDATA=/var/lib/postgresql/data/movies_database
DB_HOST=movies_database
DB_PORT=5432

ALLOWED_HOSTS=*

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=123123

DEBUG=True
